body {
  padding: 20px;
}

.text-container {
  background: #fafafa;
  width: 1080px;
  height: 1350px;
  padding: 54px;
  overflow: hidden;
}

.text-container.editable {
  transform-origin: top left;
}

.text-container .text-content {
  height: 100%;
  overflow: hidden;
}

.text-container.editable .text-content {
  outline: 1px dashed rgba(0,0,0,.15);
}

.text-img {
  max-width: 100%;
  outline: 1px solid rgba(0,0,0,.15);
}

canvas {
  display: none;
}

.text-content {
  color: #262626;
  font-size: 42px;
  line-height: 54px;
}