body {
  padding: 20px;
}

.text-container {
  background: #fafafa;
  width: 1080px;
  height: 1350px;
  padding: 5rem 4rem;
  overflow: hidden;
}

.text-img {
  max-width: 100%;
  outline: 1px solid rgba(0,0,0,.15);
}

canvas {
  display: none;
}

.text-content {
  color: #262626;
  font-size: 2.625rem;
  line-height: 1.3;
}